#skills {
  width: 80vw;
  max-width: 75rem;
  margin: 0 auto;
  padding-top: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}

.frontend-text,
.backend-text {
  margin: 2rem;
  font-weight: 200;
  font-size: 1.5rem;
}

.frontend-grid,
.backend-grid {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
}

.block {
  text-align: center;
  margin: 1rem;
  width: 7rem;
}

.block-img {
  object-fit: cover;
  width: 5em;
  border-radius: 1rem;
}

@media screen and (min-width: 600px) {
  .frontend-grid,
  .backend-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .block {
    width: auto;
  }
}

@media screen and (min-width: 987px) {
  .frontend-grid,
  .backend-grid {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    justify-content: center;
  }

  .block {
    width: auto;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}
