#skills {
  width: 80vw;
  max-width: 75rem;
  margin: 1rem auto;
  padding-top: 1rem;
  text-align: center;
}
.title {
  margin-top: 2rem;
}

.frontend-text,
.backend-text {
  margin: 2rem;
}

.frontend-grid,
.backend-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.block {
  text-align: center;
  margin: 1rem;
  width: 7rem;
}

.block-img {
  object-fit: cover;
  width: 5em;
  border-radius: 1rem;
}

@media screen and (min-width: 600px) {
  .frontend-grid,
  .backend-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .block {
    width: auto;
  }
}
